.box {
  width: 500px;
  border: 1px #2d3436 solid;
  border-radius: 6px;
  margin: 5px 400px;
  padding: 20px 15px;
  background: #74b9ff;
  color: white;
  font-size: 20px;
}

.box:hover {
  color: black;
  opacity: 0.9;
}

h1 {
  margin: 4px 400px;
  padding: 10px 15px;
  width: 500px;
  border: 1px #2d3436 solid;
  border-radius: 6px;
  font-size: 50px;
  color: white;
  background: #1abc9c;
}

.material-icons {
  position: relative;
  top: 4px;
  left: 2px;
  font-size: 22px;
  color: #2c3e50;
}
