/*header{
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  background-color: black;
  color: white;
  text-align: center;
}*/
body{
  background-color: #dae1e7;
  color: #16817a;
}
/*footer
{
  width: 100%;
  left: 0;
  bottom:0;
  background-color: black;
  color: white;
  text-align: center;
}*/
footer {
  background-color: #151515;
  font-family: RobotoCondensed Bold,Trebuchet MS,Helvetica,Arial,sans-serif;
  letter-spacing: 2px;
  font-size: 19px;
  color: #fff;
}
.feedback{
  color: #fff;
  text-decoration: none;
  width: 20%;
  border-radius: 5px;
  background-color: #fa744f;
  padding: 5px;
  margin: 20px;
}
.icons{
       letter-spacing: 5px;
        position: relative;
        left: 5px;
        font-size: 30px;
      }
.icons a,.icons .active,.icons .visited{
  text-decoration: none;
  color: #2c3e50;
}

#facebook:hover{
  color: #1e3799 ;
}

#twitter:hover{
  color: #2e86de;
}

#insta:hover{
  color: #ef5777;
}

#snapchat:hover{
  color: #fff200;
}

#youtube:hover{
  color: #eb2f06;
}

#linkedin:hover{
  color: #0077b5;
}

hr {
  border-style: none;
  border-top: dashed;
  border-width: 5px;
  border-color: grey;
  width: 100%;
}
